$corDeFundo: #cb1e1b;
//$corDeFundo: #040714;
$corTextoPrincipal: rgb(78, 76, 76);
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #293c52;
$corDeFundoBotaoSecundario: #293c52;
$corDeFundoBotaoDark: #000;
$corDeTeste: #cb1e1b;